<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <link rel="stylesheet" href="../assets/style.css" />
    <title>Minimal Weather</title>

  </head>
  <body>
    
      <div>
        <form action="/" method="POST">
          <input type="text" class="search" name="location" placeholder="Enter a city name" >
          <button type="submit" class="submission">Search</button>
        </form>
      </div> 
         

    <div class="container">
      <div class="temperature">
         <h2 class="temperature-degree"></h2><span class="degree-logo"></span>
        
      </div>

      <div class="temperature-description" style="color:red">
          <%=description%>
      </div>
      <span id="in"></span>
      <h2 class="city-name"></h2>
      <!-- <div class="location">
      <h1 class="location-timezone"></h1>
      </div> -->
      <div class="refreshed" >
       
      </div>
     <img class="icon" width="100"  name="icon" >
      <!-- <img src="" alt="icon"> -->
    </div>
    
      

   
  </body>
  <script src="../assets/skycons.js"></script>
  <script src="./app.js"></script>
</html>
